/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #464545;
    padding: 20px;
     display: flex;
    /* align-items: center; */
    /* justify-content: space-between;  */
    
}
nav ul {
    list-style-type: none;
    margin-left: auto;
    /* padding: 0; */
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
  }
body {
    background-image: url("./images/pngtree-travel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 120px;
    margin-left: 120px;
}
#content {
    width: 440px;
}
.container h1 {
    font-size: 52px;
}
.container p {
    font-size: 20px;
}
.container button {
    font-size: 22px;
    font-weight: bold;
}
.home {
    position: relative;
    height: calc(100vh - 80px); /* full screen minus navbar */
  }
  #result {
    position: absolute;
    top: 0;
    right: 0;
  
    width: 40%;
    height: 100%;
  
    overflow-y: auto;
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #result > div {
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  #result img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }  
#team {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}